body {
  //background-image: url('~pie-bg.png');
  background-color: linen;
}

#wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app {
  background-color: white;
  border-radius: 25px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 2em;
  @include centerer;
}

table, th, td {
  border: none;
  padding: 0.5em;
  margin: 0 auto;
  text-align: left;
}

img {
  height: 100px;
}

select,
input,
button {
  padding: 0.8em;
  font-size: 1em;
}
