body {
  background-image: url('assets/pie-bg.png');
  background-color: linen;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#app {
  background-color: honeydew;
  box-shadow: 1px 1px 10px slategray;
  border-radius: 25px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 2rem;
  /* @include centerer;  -- old centerer */
  max-width: 50%;
  margin: 1rem;
}

table, th, td {
  border: none;
  padding: 0.5em;
  margin: 0 auto;
  text-align: left;
}

img {
  height: 130px;
}

.user {
  display: inline-block;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

select {
  width: 250px;
  padding: 0.6em;
  font-size: 1em;
}

button,
input {
  padding: 0.6em;
  font-size: 1em;
}

.warningText {
  color: #FF3D3D;
}

.highlighted {
  font-weight: bold;
}